body{
	margin:0;
	font-family:sans-serif;
	background-color: rgb(100,100,100);
}

h1{
	color:white;
}

.container{
	display:flex;
	align-items:center;
	justify-content:center;
	height: 100vh;
	flex-direction:column;
}

.container img{
	width: 30%;
}